cssmin==0.2.0
decorator==4.0.10
Django==1.9.10
django-allauth==0.28.0
django-appconf==1.0.2
django-auth-ldap==1.2.8
django-compressor==2.1
django-extensions==1.7.4
django-gravatar2==1.4.0
django-haystack==2.5.0
django-paintstore==0.2
djangorestframework==3.5.1
enum34==1.1.6
httplib2==0.9.2
lockfile==0.12.2
networkx==1.11
oauthlib==2.0.0
psycopg2==2.6.2
python-dateutil==1.5
python-ldap==2.4.27
python-openid==2.2.5
pytz==2016.7
rcssmin==1.0.6
requests==2.11.1
requests-oauthlib==0.7.0
rjsmin==1.0.12
robot-detection==0.4
six==1.10.0
Whoosh==2.7.4
