contextlib2==0.5.5
cssmin==0.2.0
decorator==4.0.11
Django==1.10.7
django-allauth==0.32.0
django-appconf==1.0.2
django-auth-ldap==1.2.11
django-compressor==2.1.1
django-extensions==1.7.9
django-gravatar2==1.4.0
django-haystack==2.6.0
django-paintstore==0.2
django-stronghold==0.2.8
djangorestframework==3.6.2
enum34==1.1.6
httplib2==0.10.3
lockfile==0.12.2
networkx==1.11
oauthlib==2.0.2
psycopg2==2.7.1
python-dateutil==1.5
python-ldap==2.4.38
python-openid==2.2.5
pytz==2017.2
raven==6.0.0
rcssmin==1.0.6
requests==2.14.2
requests-oauthlib==0.8.0
rjsmin==1.0.12
robot-detection==0.4
six==1.10.0
Whoosh==2.7.4
